<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content >
      <ion-button expand="full"  shape="round" fill="outline" [routerLink]="['/home']" >
        Crear receta
        <ion-icon slot="end" name="create"></ion-icon>
      </ion-button>
      <ion-button expand="full"  shape="round" fill="outline" [routerLink]="['/verecetas']" >
        Ver receta
        <ion-icon slot="end" name="newspaper"></ion-icon>
      </ion-button>
      <ion-button  expand="full"  shape="round" fill="outline" [routerLink]="['/listayutu']" >
        Top recetas en Youtube
        <ion-icon slot="end" name="LOGO-YOUTUBE"></ion-icon>
      </ion-button>
    </ion-content>
  </ion-menu>
  
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Página principal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <H2>GastroWeek</H2>
     <ion-card color="secondary">
      <ion-img src="../assets/Pag_principal/principal.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Crea deliciosos platillos</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Estómago contento es igual a corazón contento. Lo sabemos, y como nuestro propósito es alegrar la vida de todos de aquí no se irá nadie sin su estómago satisfecho.
      </ion-card-content>
    </ion-card>
     <ion-card color="secondary">
  <ion-card-header>
    <ion-card-title>¿Estas listo?</ion-card-title>
    <ion-card-subtitle>Comienza!!</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content >

    <ion-list>
      <ion-item routerLink="/home" detail >
        <ion-label  color="secondary">Crear receta</ion-label>
      </ion-item>
      <ion-item routerLink="/verecetas" detail >
        <ion-label  color="secondary">Ver recetas</ion-label>
      </ion-item>
      <ion-item routerLink="/listayutu" detail >
        <ion-label  color="secondary">Top recetas en Youtube</ion-label>
      </ion-item>
    </ion-list>

    <!--
        <ion-button color="light" expand="full"  shape="round" fill="outline" [routerLink]="['/home']" >
        Crear receta
        <ion-icon slot="end" name="create"></ion-icon>
      </ion-button>
      <ion-button color="light" expand="full"  shape="round" fill="outline" [routerLink]="['/verecetas']" >
        Ver receta
        <ion-icon slot="end" name="newspaper"></ion-icon>
      </ion-button>
      <ion-button color="light" expand="full"  shape="round" fill="outline" [routerLink]="['/verecetas']" >
        Ver receta en Yutube
        <ion-icon slot="end" name="LOGO-YOUTUBE"></ion-icon>
      </ion-button>
-->

  </ion-card-content>
</ion-card>
       
        
        
    </ion-content>
  </div>
</ion-app>