<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Recetas más vistas en Youtube!!</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/index"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-card color="primary">
          <h1>Top recetas </h1>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--Aquí empieza-->
  <ion-list >
    <ion-item>
  <ion-grid>
  <ion-row>
    <ion-col>
      <div >
        <h3>Pizza</h3>
      </div>
      <div class="ion-text-center" >
      <iframe   src="https://www.youtube.com/embed/Us6gzsVv_MA" ></iframe>
    </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-item>
<!--Aquí termina-->
  <ion-item>
  <ion-grid>
  <ion-row>
    <ion-col>
      <div >
        <h3>Rollitos de Jamón y Queso</h3>
      </div>
      <div class="ion-text-center" >
      <iframe   src="https://www.youtube.com/embed/g_jJzN1eaRM" ></iframe>
    </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-item>
<ion-item>
  <ion-grid>
  <ion-row>
    <ion-col>
      <div >
        <h3>Chuletas de Cerdo</h3>
      </div>
      <div class="ion-text-center" >
      <iframe   src="https://www.youtube.com/embed/g86ifhdpvq8" ></iframe>
    </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-item>
<ion-item>
  <ion-grid>
  <ion-row>
    <ion-col>
      <div >
        <h3>ESPAGUETI ESTILO CHINO</h3>
      </div>
      <div class="ion-text-center" >
      <iframe   src="https://www.youtube.com/embed/ylwfGaeRf7M" ></iframe>
    </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-item>
<ion-item>
  <ion-grid>
  <ion-row>
    <ion-col>
      <div >
        <h3>POLLO y papas</h3>
      </div>
      <div class="ion-text-center" >
      <iframe   src="https://www.youtube.com/embed/i_c-MUSj00k" ></iframe>
    </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-item>
  </ion-list>
  
</ion-content>

