<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Recetas creadas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/index"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
  <ion-list>
    <ion-card>
   <ion-list-header>
     Tus recetas
   </ion-list-header>
   </ion-card>
   <ion-item lines="inset" *ngFor = "let student of students">
    <ion-label>
      <h5>
        {{student.year}}
      </h5>
    </ion-label>
    <div class="item-note">
      <ion-icon name="eye-sharp" style="zoom: 2.0;" [routerLink]="['/detallereceta/',student.id]"></ion-icon>
      <ion-icon name="create" style="zoom: 2.0;" [routerLink]="['/update-student/',student.id]"></ion-icon>
      <ion-icon name="trash" style="zoom: 2.0;" (click)="deleteStudent(student.id)"></ion-icon>

    </div>
     
   </ion-item>
 </ion-list>
 </ion-card>

</ion-content>
